*{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

main{
    position: relative;
}

/* HEADER */
header{
    background: rgba(248, 203, 0, 1);
    height: 140px;   
}

.container{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
}

.container flex{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.left{
    width:25%;
}

.right{
    width:75%;
}

.flex{
    display:flex;
}
nav.flex{
    justify-content: space-around;
}

.right .flex{
    justify-content: space-between;
}

/* Logo formatting */

header .left{
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: 500; 
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#la{ 
    color: rgba(99, 100, 216, 1);
}

/* Formatting the searchbar and cart buttons */


.right img{
    height: 0.9375rem;
    width:auto;
}

#cartpic{
    height: 20px;
    width:auto;
    display: block; 
}
#cart{
    background-color: rgba(99, 100, 216, 1);
    border-radius: 2px;
    font-family: 'Helvetica';
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 45px;
    width: 130px;
    display: flex;
}
 .button3{
    background-color: rgba(57, 58, 177, 1);
    border-radius: 0px 2px 0px 2px;
    width: 30%;
    border-color: rgba(57, 58, 177, 1);
    color: rgba(255, 255, 255, 1);
}
.button3:hover, .button3:focus{
    cursor: pointer;
}
.button{
    background-color: rgba(99, 100, 216, 1);
    border-radius: 2px;
    font-family: 'Helvetica';
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 45px;
    width: 130px;
}
 #cart .button2{
    background-color: rgba(99, 100, 216, 1);
    border-color: rgba(99, 100, 216, 1);
    padding: 5px;
    border-radius: 0px 2px 0px 2px; 
    font-family: 'Helvetica';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
.button2{
    background-color: rgba(57, 58, 177, 1);
    border-radius: 10px;
    background:#000;
    border: 3px solid #000;
    padding: 8px 16px;
    color: #fff;
    margin-top: 0px;
}
.button2:hover, .button2:focus{
    background: #fff;
    color: #000;
    cursor: pointer;
}
.search {
    width: 60%;
    display: flex;
   }
.searchTerm {
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 1);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 2px;
    outline: none;
    color: #9DBFAF;
    
}
.searchTerm:focus{
    color: black;
}
.searchButton {
    width: 40px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    color: rgba(123, 123, 123, 0.78);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* Side list */
.list-button{
    display: block;
    background:  rgba(255, 255, 255, 1);
    box-shadow: none;
    border: 0px;
    margin-top: 10px;
    font-weight: 600;
    margin-left: 25px;
}

.list-item{
    color: rgb(167, 166, 166);
    margin-top: 10px;
    list-style-type: none;
  
}
.active{
    color: rgba(248, 203, 0, 1);
}

/* Side menu formating */

.sidemenu{
    
    background: rgba(255, 255, 255, 1);
    margin-top: -55px;
    width: 90%;
    box-shadow: -1px 1px 14px 0px rgba(150, 150, 150, 0.75);
    border-radius: 4px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.sideadv{
    widows: 300px;
    margin-top: 50px;
}

.sideadv img{
    width: 100%;
    border-radius: 4px;
}

/* Mini navigation through pages */

.mininav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cream-bar{
    margin-left: 10px;
}
.cream-bar-text{
    margin-top: 6px;
}

.cream-bar-button{
    background:  rgba(255, 255, 255, 1);
    box-shadow: none;
    border: 1px solid  rgb(167, 166, 166);;
    border-radius: 4px;
    width: 25px;
}
.morecreams{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
.brand p, .brand span, .popularity p, .popularity span{
    font-size: 12px;
}

/* Site content(creams) */

.creams{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cream-image{
    border-radius: 4px;
    width: 22%;
    box-shadow: -1px 1px 14px 0px rgba(150, 150, 150, 0.75);
    height: 400px;
    margin-bottom: 50px;
    border-radius: 4px;
    
}
.cream-image img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
        
}

.cream-image p{
    text-align: center;
    margin-top: 50%x;
    
}

.mainitem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

/* 
main{
    position: relative;
}

 */