header{
    background-color: rgba(248, 203, 0, 1);
    bottom: 0px;
    height:20%;
    position: fixed;
    display: inline-block;
    top: 0px;
    width: 100%;
    left: 0px;
}
#container{
    left: 20px;
    display: inline-block;
}
#container div{
    display:inline-block;
}