.navigation {
    width: 40%;
    display: inline-flex;
    justify-content: flex-end;
}
.main-menu {
    display: inline-flex;
    justify-content: space-between;
}
.menu-item {
    list-style-type: none;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.menu-item:hover {
    color: #fff
}
