.sidebar-container {
    position: absolute;
    margin-top: -7.5rem;
    background: #fff;
    width: 20%;
    left: 8%;
    padding: 1rem 0 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
}

p{
    font-size: 15px;
    color: rgba(163, 163, 163, 1);
    text-align: left;
}
.category-button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0.1rem;
    color: rgba(23, 23, 23, 1);
    font-size: 18px;
    text-align: left;

}

ul{
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-size: 0.7rem;
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
    text-align: left;
}
.align{
    padding-left: 0px;
    margin-top: 0px;
}