/* .ads {
    position: absolute;
    margin-top: 2.9rem;
    width: 100%;
    margin-left: -1rem;
    border-radius: 5px;
} */
/* img{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
} */

.ads{
    position: relative;
    top: 25rem;
    width: 100%;
    right: 31%;
}
 img{
    border-radius: 5px;
    width: 21%;
    margin-top: 2.9rem;
    margin-left: -1rem;
    border-radius: 5px;
 }
 